@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
        justify-content: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        background-color: #eea29a;
    }
    h1 {
        font-size: 26px;
    }
    #tagline {
        font-size: 16px;
        margin-top: 2px;
    }
    #logo {
        width: 150px;
        height: auto;
    }
    
    .weatherSummary {
    position: absolute;
    top: 1em;
    left: 1em;
}
  
.forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 500px;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
}

.forecast h3 {
    grid-column: span 5;
    margin: 0;
    margin-bottom: 0.5rem;
}

.forecast img {
    display: block;
    max-width: 60%;
    margin: auto;
}

.days {
    box-shadow: none;
    margin: 0;
    align-content: center;
    background-color: rgba(249, 226, 6, 0.2);
}

.label {
    background-color: #92BDA3;
    border: 1px solid #524b2e;
    border-radius: 5px 5px 0 0;
}

#articlePic {
    float: right;
}

#contactMap {
    display: block;
}
    .galleryPic {
	grid-template-columns: 1fr 1fr;
}

.Summary {
    max-width: 45%;
    right: 10px;
    font-size: 1em;
    padding: 1rem 1.5rem;
    line-height: 1.5em;
    margin: 0.5em;
    background-color: #fffff0;
}

main div div.townCard {
    display: flex;
    flex: 1 1 100%;
}

main div div.row2 {
    flex-direction: row-reverse;
}

main div div.row1, main div div.row3 {
    text-align: right;
}

main div div img {
    max-width: 50%;
    margin: auto;
}

main div div section {
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

}
}
}
