body {
    font-size: 20px;
    font-family: Baloo Bhai;
    color: black;
    background-color: #878787;
}

nav button {
    margin: .2rem 2%;
    background-color: #129AA2;
    border: none;
    font-size: 1.6rem;
    color: #000000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #129AA2;
    overflow: none:
}

li {
    float: left;
    font-family: Baloo Bhai;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F3AB55;
}

.logo img {
    float: left;
    width: 20%; 
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2), -7px 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.mainpagepicture img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

header {
    border-bottom: solid black;
    margin-bottom: 20px;
    text-align: center;
    font-family: Baloo Bhai;
    background-color: #129AA2;
}

h1 {
    margin-bottom: -5px;
}

h2 {
    border-bottom: solid black;
    margin-bottom: 8px;
    font-family: Baloo Bhai;
}

footer {
    border-top: solid black;
    margin-top: 20px;
    padding: 16px;
    text-align: center;
    background-color: #129AA2
}
