@media only screen and (min-width: 37.5em) {

    header,
    nav,
    main,
    footer,
    .gallery_grid {

        max-width: 64em;

    }

    .logo img{
        max-height: 100px;}

nav button {
    margin: .2rem 2%;
    background-color: #eea29a;
    border: none;
    font-size: 1.6rem;
    color: #000000;
    }














