body {
    font-size: 20px;
    font-family: Baloo Bhai ;
    color: Black;
    background-color: #878787;
}

main {
    max-width: 767px;
    margin: 0 auto;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: 1fr;
}
	
img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

main section {
    margin: 0.5rem;
    border: 2px solid Black;
    padding: 0 1rem;
    background-color: #B3DAF9;
    color: black;
    border-radius: 15px;
}

header {
    border-bottom: solid black;
    margin-bottom: 15px;
    text-align: center;
    font-family: Baloo Bhai;
}

h1 {
    margin-bottom: -5px;
}

section h2 {
    border-bottom: solid black;
    margin-bottom: 8px;
    font-family: Baloo Bhai;
}

footer {
    border-top: solid Black;
    margin-top: 15px;
    padding: 16px;
    text-align: center;
}

#link {
    color: #fff;
}
