@media only screen and (min-width: 64rem) {

    nav{
background: #36454f; 
background: -moz-linear-gradient(top, #36454f 2%, #00001c 100%); 
background: -webkit-linear-gradient(top, #36454f 2%,#00001c 100%); 
background: linear-gradient(to bottom, #36454f 2%,#00001c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36454f', endColorstr='#00001c',GradientType=0 ); 
  
}
