
body{
    font-size: 18px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif
}
header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header, footer {
    background-color: #878787;
    color: #fff;
    text-align: center;
    border-radius: 10px;;
}

header {
    padding: 1.5rem;
    font-size: 25px;
}
main {
    color: #878787;
}
img {
    width: 360px;
    float: right;
    position: absolute;
    top: 1200;
    left: 4000;
    border-radius: 5px;
}
