body {
    background-color: #878787;
    max-width: 800px;
    margin: 1.5rem auto;
}

header, footer {
    background-color: #2E94E5;
    color:#fff;
    text-align: center;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

header h1 {
    line-height: 2rem;
    font-size: 2.5em;
    font-family: 'Arial', serif;
}

#coreywideen {
    width: 50%;
    height: auto;
}

footer {
    font-size: 1rem;
    line-height: 1.25rem;
}

nav {
    margin: 1.5rem;
    font-family: 'Arial', serif;
    line-height: 1.25rem;
}
