body {
    margin: 0 auto;
    font-family: 'Anton', sans-serif;
    background-color: #747474;
}

header {
    background-color: #14A76C;
    color: black;
    padding: 7px;
    display: flex;
    justify-content: center;
}

#announcement {
    display: block;
    background-color: #FF652F;
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    padding: 1em;
    text-align: center;
}

h3 {
    padding: 1em;
    margin: 0;
    background-color: #eea29a;
}

figcaption {
  line-height: 20px;
  font-size: 20px;
  color: black;
}

.contact {
    background-color: #FF652F;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactInfo {
    padding: 1em;
}
#contactMap {
    display: none;
    margin: 1em;
}
.contact p {
    font-size: .8em;
}
.socialIcons img {
    margin: .3em;
}
footer {
    font-family: 'Anton', sans-serif;
    font-size: 15px;;
    text-align: center;
    background-color:#14A76C;
    color: black;
    padding: 0.5em;
}
footer a {
    color: black;
} 

#Mountain {
    width: 100%;
}

#logo {
    width: 70px;
    height: 48px;
}
.headings {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
#tagline {
    font-family: 'Anton', sans-serif;
    font-size: 12px;
    margin: 0 auto;
    color: #FF652F;
    font-style: italic;

}
h1 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    font-size: 1.1em;
    margin: 0 auto;

}
nav {
    background-color: #FFE400;
}
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.navigation li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.5em 2em 0.5em 2em ;
    color: black;
    font-family: 'Anton', sans-serif;
}
.navigation li a:hover {
    background-color: #FF652F;
    color: black;
}
.responsive li{
    display: block;
}

nav .current {

        background-color: #FF652F;
        color: #000000;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    color: black;
    padding: 1em;
    margin: 0;
    text-align: center;

}



p{
    font-family: 'Anton', sans-serif;
    margin: 2rem;
    background-color #D3D3D3:
}

h3 {
    padding: 1em;
    margin: 0;
    background-color: #FF652F;
}


main picture.heroPic img {
    width: 100%;
    margin: 0;
    padding: 0;
}

@media only and (min-width: 60em) {

main {
    grid-template-columns: 1fr 1fr 1fr;
}

section:nth-child(3) {
    grid-column: span 1;
}
}

@media screen and (min-width:32.5em) {
    
main {
    grid-template-columns: 1fr 1fr;
}

section:nth-child(2) {
    display: block;
}

section:nth-child(3) {
    grid-column: span 2;
}
}

